<%= link_to "New post", new_post_path %>

<% @posts.each do |post| %>

<div>
    <p id="messageBox"><%= post.message %></p>
</div>

  <p id="time">Created at <%= post.created_at.strftime("%e-%m-%y %H:%M") %> by <%= post.poster_name %><br><br>
  </p>

<div>
  <%= form_for([post, post.comments.build]) do |f| %>
    <p><%= f.text_field :body %></p>
    <p><%= f.submit "Create Comment" %></p>
  <% end %>
</div>

<% post.comments.each do |comment| %>
  <% if comment.body %>
    <p id="messageBox2"><%= comment.body %></p>
    <p id="time"><%= comment.created_at.strftime("%m-%e-%y, %H:%M") %></p>
    <% end %>
  <% end %>
<% end %>

