<% @posts.each do |post| %>

  <div>
    <p id="messageBox"><%= post.message %></p>
  </div>

  <p id="time"><%= post.created_at.strftime("%m-%e-%y, %H:%M") %></p>

<% post.comments.each do |comment| %>
<p><%= comment.body %></p>
<% end %>

<div>
      <h2>Add Comment</h2>
      <%= form_for([post, post.comments.build]) do |f| %>
        <p>
          <%= f.label :body %><br>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit "Create Comment" %>
        </p>
      <% end %>
    </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
